div(class="toggle toggle_culture--aslan_hierate")
  h2 Aslan Hierate Upbringing

  div(class="aslan_upbringing")
    label(class="aslan_clan") Clan Type
    select(name="attr_aslan_clan" class="aslan_clan")
      option(value="minor" selected) Minor
      option(value="major") Major

    label(class="aslan_inheritance") Family Inheritance
    select(name="attr_aslan_inheritance" class="aslan_inheritance")
      option(value="first" selected) First Son / Eldest Daughter
      option(value="second") Second Son / Middle Daughter
      option(value="third") Third Son / Youngest Daughter

    label(class="aslan_ancestral_ter") Ancestral Territory
    input(type="number" min="0" value="0" name="attr_aslan_ancestral_ter" class="aslan_ancestral_ter")

    label(class="aslan_rite_of_passage") Rite of Passage
    span(class="aslan_rite_of_passage")
      input(type="number" min="0" max="6" value="0" name="attr_aslan_rite_of_passage")
      +roll("Aslan Rite of Passage", "rop", "aslan_rite_of_passage")

  h2 Recent Events

div(class="toggle toggle_culture--third_imperium toggle_culture--vargr_extents")
  h2 Recent Events

div(class="expand_buttons")
  label(for="expand_events--yes" class="expand_button expand_button--events_yes") [expand event details]
  label(for="expand_events--no" class="expand_button expand_button--events_no") [collapse event details]

div(class="expanditems expanditems--events")
  fieldset(class="repeating_events")
    div(class="recent_event")
      label(class="event_name") Name
      input(type="text" name="attr_event_name" class="event_name")

      label(class="event_date") Date
      input(type="text" name="attr_event_date" class="event_date")

      label(class="event_location") Location
      input(type="text" name="attr_event_location" class="event_location")

      label(class="event_details hide_narrow") Details
      textarea(name="attr_event_details" class="event_details hide_narrow")

h2 Allies, Contacts, Enemies, and Rivals

div(class="expand_buttons")
  label(for="expand_npcs--yes" class="expand_button expand_button--npcs_yes") [expand npc details]
  label(for="expand_npcs--no" class="expand_button expand_button--npcs_no") [collapse npc details]

div(class="expanditems expanditems--npcs")
  fieldset(class="repeating_npcs")
    div(class="npc")
      label(class="npc_name") Name
      input(type="text" name="attr_npc_name" class="npc_name")

      label(class="npc_location") Location
      input(type="text" name="attr_npc_location" class="npc_location")

      label(class="npc_type") Type
      select(name="attr_npc_type" class="npc_type")
        option(value="ally" selected) Ally
        option(value="contact") Contact
        option(value="rival") Rival
        option(value="enemy") Enemy

      label(class="npc_affinity hide_narrow") Affinity
      input(type="number" min="0" max="6" value="0" name="attr_npc_affinity" class="npc_affinity hide_narrow")

      label(class="npc_enmity hide_narrow") Enmity
      input(type="number" min="-6" max="0" value="0" name="attr_npc_enmity" class="npc_enmity hide_narrow")

      label(class="npc_power hide_narrow") Power
      input(type="number" min="0" max="6" value="0" name="attr_npc_power" class="npc_power hide_narrow")

      label(class="npc_influence hide_narrow") Influence
      input(type="number" min="0" max="6" value="0" name="attr_npc_influence" class="npc_influence hide_narrow")

      label(class="npc_details hide_narrow") Details
      textarea(name="attr_npc_details" class="npc_details hide_narrow")

h2 Terms

div(class="expand_buttons")
  label(for="expand_terms--yes" class="expand_button expand_button--terms_yes") [expand term details]
  label(for="expand_terms--no" class="expand_button expand_button--terms_no") [collapse term details]

div(class="expanditems expanditems--terms")
  fieldset(class="repeating_terms")
    div(class="term")
      label(class="term_age") Age
      span(class="term_age")
        input(type="number" min="14" value="18" name="attr_term_age_start")
        span to
        input(type="number" min="18" value="22" name="attr_term_age_end")

      label(class="term_career") Career
      input(type="text" name="attr_term_career" class="term_career")

      label(class="term_rank") Rank
      span(class="term_rank")
        input(type="number" min="0" value="0" name="attr_term_rank_start")
        span to
        input(type="number" min="0" value="0" name="attr_term_rank_end")

      label(class="term_survived") Survived?
      input(type="checkbox" name="attr_term_survived" class="term_survived")

      label(class="term_advanced") Advanced?
      input(type="checkbox" name="attr_term_advanced" class="term_advanced")

      label(class="term_details hide_narrow") Details
      textarea(name="attr_term_details" class="term_details hide_narrow")

h2 Mustering Out Benefits

div(class="narrowitems")
  fieldset(class="repeating_benefits")
    div(class="benefit")
      label(class="benefit_career") Career
      input(type="text" name="attr_benefit_career" class="benefit_career")

      label(class="benefit_details") Details
      textarea(name="attr_benefit_details" class="benefit_details")
