input(style="display:none" type="radio" name="ship-tab" id="ship-tab--roster" checked)
input(style="display:none" type="radio" name="ship-tab" id="ship-tab--details")

div(class="ship-header")
  input(type="text" name="attr_character_name" class="character_name")

  label(class="ship_model") Model
  input(type="text" name="attr_ship_model" class="ship_model")

  label(class="ship_tl") TL
  input(type="number" min="0" max="15" value="12" name="attr_ship_tl" class="ship_tl")

  label(class="ship_notes") Notes
  textarea(name="attr_ship_notes" class="ship_notes")

div(class="columns")
  div(class="column column--first")
    include ship/characteristics.pug

  div(class="column")
    div(class="tab_buttons")
      label(for="ship-tab--roster" class="ship-tab_button--roster") Roster
      label(for="ship-tab--details" class="ship-tab_button--details") Details

    div(class="tab ship-tab--roster")
      include ship/finances.pug
      include ship/crew.pug
      include ship/cargo.pug

    div(class="tab ship-tab--details")
      include ship/power.pug
      include ship/weapons.pug
      include ship/components.pug
