h2 Cargo

div(class="narrowitems")
  fieldset(class="repeating_cargo")
    div(class="cargo")
      label(class="cargo_item") Item
      input(type="text" name="attr_cargo_item" class="cargo_item")

      label(class="cargo_quantity") Quantity
      input(type="number" min="0" value="0" name="attr_cargo_quantity" class="cargo_quantity")

      label(class="cargo_tonnage") Tonnage
      input(type="number" min="0" value="0" name="attr_cargo_tonnage" class="cargo_tonnage")
