h2 Components

div(class="narrowitems")
  fieldset(class="repeating_ship-component")
    div(class="ship-component")
      label(class="ship_component_type") Type
      input(type="text" name="attr_ship_component_type" class="ship_component_type")

      label(class="ship_component_details") Details
      input(type="text" name="attr_ship_component_details" class="ship_component_details")

      label(class="ship_component_tons") Tons
      input(type="text" name="attr_ship_component_tons" class="ship_component_tons")

      label(class="ship_component_cost") Cost
      input(type="text" name="attr_ship_component_cost" class="ship_component_cost")
