h2 Weapons

div(class="sepitems")
  fieldset(class="repeating_ship-weapon")
    div(class="ship-weapon")
      label(class="ship_weapon_type") Type
      input(type="text" name="attr_ship_weapon_type" class="ship_weapon_type")

      label(class="ship_weapon_mount") Mount
      input(type="text" name="attr_ship_weapon_mount" class="ship_weapon_mount")

      label(class="ship_weapon_tl") TL
      input(type="number" min="0" max="15" value="0" name="attr_ship_weapon_tl" class="ship_weapon_tl")

      label(class="ship_weapon_range") Range
      input(type="text" name="attr_ship_weapon_range" class="ship_weapon_range")

      label(class="ship_weapon_damage") Damage
      input(type="text" name="attr_ship_weapon_damage" class="ship_weapon_damage")

      label(class="ship_weapon_ammunition") Ammunition
      input(type="number" min="0" value="0" name="attr_ship_weapon_ammunition" class="ship_weapon_ammunition")

      label(class="ship_weapon_details") Details
      input(type="text" name="attr_ship_weapon_details" class="ship_weapon_details")
