@use "scss/character" as character;
@use "scss/ship" as ship;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.charactersheet {
    $text-color: #000;
    $border-color: #ccc;
    $dice-color: #730b0b;
    $selected-text-color: #730b0b;
    $selected-border-color: #730b0b;
    $input-background: #f9f9f9;
    $incompatibility-text-color: #ff0000;

    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $text-color;

    * {
        box-sizing: border-box;
    }

    .toggle {
        display: none;
    }

    h2 {
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        text-align: right;
        font-size: 14px;
    }
    * h2:not(:first-child) {
        margin-top: 8px;
        border-top: 1px solid $border-color;
    }

    label {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 9px;
        line-height: 12px;
        margin: 8px 0 0 8px;
    }
    input, select, textarea {
        margin: 4px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid $border-color;
        border-radius: 0;
        background-color: $input-background;
        width: 100%;
        height: 30px;
    }
    button[type="roll"] {
        height: 24px;
        color: $dice-color;
    }
    input[name="attr_character_name"] {
        font-size: 20px;
    }

    .sepitems,
    #expand_events--yes:checked ~ * .expanditems--events,
    #expand_npcs--yes:checked ~ * .expanditems--npcs,
    #expand_terms--yes:checked ~ * .expanditems--terms {
        .repcontainer > .repitem {
            margin-top: 16px;
            padding-top: 8px;
            border-top: 1px solid $border-color;
        }

        .repcontainer > .repitem:first-child {
            border-top: none;
            padding-top: 0;
            margin-top: 8px;
        }
    }
    .narrowitems,
    #expand_events--no:checked ~ * .expanditems--events,
    #expand_npcs--no:checked ~ * .expanditems--npcs,
    #expand_terms--no:checked ~ * .expanditems--terms {
        .repcontainer > .repitem:not(:first-child) label {
            display: none;
        }

        .hide_narrow {
            display: none;
        }
    }

    .expand_button {
        display: block;
        text-align: right;
        font-size: 12px;
        margin-bottom: 8px;
        text-transform: none;
        text-decoration: underline;
        color: $selected-text-color;
    }

    #expand_events--yes:checked ~ * .expand_button--events_yes,
    #expand_events--no:checked ~ * .expand_button--events_no,
    #expand_npcs--yes:checked ~ * .expand_button--npcs_yes,
    #expand_npcs--no:checked ~ * .expand_button--npcs_no,
    #expand_terms--yes:checked ~ * .expand_button--terms_yes,
    #expand_terms--no:checked ~ * .expand_button--terms_no {
        display: none;
    }

    @include character.configure(
        $border-color: $border-color,
        $selected-text-color: $selected-text-color,
        $selected-border-color: $selected-border-color,
        $incompatibility-text-color: $incompatibility-text-color,
    );
    @include character.styles;

    @include ship.styles;
}

.sheet-rolltemplate-rolls {
    .sheet-container {
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        font-family: "Oswald", sans-serif;
        line-height: revert;
    }

    .sheet-header, .sheet-degree, .sheet-content {
        padding: 4px;
    }

    .sheet-character_name {
        text-align: right;
        text-transform: uppercase;
        font-size: 16px;
        padding-bottom: 4px;
    }

    .sheet-title {
        font-size: 18px;
    }

    .sheet-subtitle {
        padding-top: 4px;
        font-size: 16px;
    }

    .sheet-content {
        display: grid;
        grid-template-columns: auto auto;
        font-size: 16px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        .sheet-key {
            padding-right: 10px;
            text-align: right;
        }
    }
    .sheet-content > div {
        padding: 8px;
    }

    .sheet-degree {
        display: grid;
        grid-template-columns: auto auto;

        .sheet-key {
            font-weight: bold;
            text-align: right;
        }
    }
    .sheet-degree > div {
        padding: 4px;
    }

    .sheet-desc {
        grid-column: span 2;
        padding: 4px;
        text-align: center;
    }
}
