@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

.toggle {
    display: none;
}

.toggle--species[value="human"] ~ .toggle_species--human,
.toggle--species[value="human"] ~ * .toggle_species--human,
.toggle--species[value="aslan"] ~ .toggle_species--aslan,
.toggle--species[value="aslan"] ~ * .toggle_species--aslan,
.toggle--species[value="vargr"] ~ .toggle_species--vargr,
.toggle--species[value="vargr"] ~ * .toggle_species--vargr,
.toggle--culture[value="third_imperium"] ~ .toggle_culture--third_imperium,
.toggle--culture[value="third_imperium"] ~ * .toggle_culture--third_imperium,
.toggle--culture[value="aslan_hierate"] ~ .toggle_culture--aslan_hierate,
.toggle--culture[value="aslan_hierate"] ~ * .toggle_culture--aslan_hierate,
.toggle--culture[value="vargr_extents"] ~ .toggle_culture--vargr_extents,
.toggle--culture[value="vargr_extents"] ~ * .toggle_culture--vargr_extents
{
    display: revert;
}

.tab {
    display: none;
}

#tab--biography:checked ~ .tab--biography,
#tab--skills:checked ~ .tab--skills,
#tab--inventory:checked ~ .tab--inventory
{
    display: block;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
* h2:not(:first-child) {
    margin-top: 16px;
    padding-top: 8px;
    border-top: 1px solid #ccc;
}

.charactersheet label {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 12px;
    margin: 8px 0 0 8px;
}
.charactersheet input, .charactersheet select, .charactersheet textarea {
    margin: 4px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: #f9f9f9;
    width: 100%;
    height: 30px;
}
.charactersheet button[type="roll"] {
    height: 24px;
}

.character-header, .characteristic, .aslan_upbringing, .recent_event, .term, .npc, .skills_top, .skill {
    display: grid;
    padding-right: 8px;
    grid-column-gap: 8px;
}

.character-header {
    grid-template-areas:
        "nameF   nameF      nameF    ageL     radsL"
        "nameF   nameF      nameF    ageF     radsF"
        "genderL homeworldL speciesL cultureL ."
        "genderF homeworldF speciesF cultureF cultureF";
}
.character-header label.character_name { grid-area: nameL; }
.character-header input.character_name { grid-area: nameF; font-size: 20px; }
.character-header label.character_age { grid-area: ageL; }
.character-header input.character_age { grid-area: ageF; }
.character-header label.character_rads { grid-area: radsL; }
.character-header input.character_rads { grid-area: radsF; }
.character-header label.character_gender { grid-area: genderL; }
.character-header input.character_gender { grid-area: genderF; }
.character-header label.character_homeworld { grid-area: homeworldL; }
.character-header input.character_homeworld { grid-area: homeworldF; }
.character-header label.character_species { grid-area: speciesL; }
.character-header select.character_species { grid-area: speciesF; }
.character-header label.character_culture { grid-area: cultureL; }
.character-header select.character_culture { grid-area: cultureF; }

.columns {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 16px;
    margin-top: 32px;
}
.column {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 8px 8px 8px;
}

.characteristic {
    grid-template-areas:
        "name name name name"
        "curL maxL dmL ."
        "curF maxF dmF roll";
    grid-column-gap: 4px;
    margin-top: 16px;
    padding-top: 8px;
    border-top: 1px solid #ccc;
}
.characteristic--first {
    border-top: none;
    padding-top: 0;
    margin-top: 8px;
}
.characteristic h3 {
    grid-area: name;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 12px;
}
.characteristic label.cur { grid-area: curL; }
.characteristic input.cur { grid-area: curF; }
.characteristic label.max { grid-area: maxL; }
.characteristic input.max { grid-area: maxF; }
.characteristic label.dm { grid-area: dmL; }
.characteristic input.dm { grid-area: dmF; }
.characteristic button.roll { grid-area: roll; }

.tab_buttons {
    display: flex;
}
.tab_buttons label {
    font-size: 16px;
    text-align: center;
    padding: 8px;
    border: 1px solid #aaa;
    background-color: #ccc;
    border-radius: 5px;
}
.tab_buttons label:hover {
    background-color: #ccccff;
}

.aslan_upbringing {
    grid-template-areas:
        "clanL inheritL anterL ropL"
        "clanF inheritF anterF ropS";
}
.aslan_upbringing label.aslan_clan { grid-area: clanL; }
.aslan_upbringing select.aslan_clan { grid-area: clanF; }
.aslan_upbringing label.aslan_inheritance { grid-area: inheritL; }
.aslan_upbringing select.aslan_inheritance { grid-area: inheritF; }
.aslan_upbringing label.aslan_ancestral_ter { grid-area: anterL; }
.aslan_upbringing input.aslan_ancestral_ter { grid-area: anterF; }
.aslan_upbringing label.aslan_rite_of_passage { grid-area: ropL; }
.aslan_upbringing span.aslan_rite_of_passage { grid-area: ropS; }

.recent_event {
    grid-template-areas:
        "nameL    dateL    locationL"
        "nameF    dateF    locationF"
        "detailsL .        ."
        "detailsF detailsF detailsF";
}
.recent_event label.event_name { grid-area: nameL; }
.recent_event input.event_name { grid-area: nameF; }
.recent_event label.event_date { grid-area: dateL; }
.recent_event input.event_date { grid-area: dateF; }
.recent_event label.event_location { grid-area: locationL; }
.recent_event input.event_location { grid-area: locationF; }
.recent_event label.event_details { grid-area: detailsL; }
.recent_event textarea.event_details { grid-area: detailsF; }

.term {
    grid-template-areas:
        "ageL     careerL  rankL    survivedL advancedL"
        "ageF     careerF  rankF    survivedF advancedF"
        "musterL  musterL  .        .         ."
        "musterF  musterF  musterF  musterF   musterF"
        "detailsL detailsL .        .         ."
        "detailsF detailsF detailsF detailsF  detailsF";
}
.term label.term_age { grid-area: ageL; }
.term span.term_age { grid-area: ageF; }
.term label.term_career { grid-area: careerL; }
.term input.term_career { grid-area: careerF; }
.term label.term_rank { grid-area: rankL; }
.term span.term_rank { grid-area: rankF; }
.term label.term_survived { grid-area: survivedL; }
.term checkbox.term_survived { grid-area: survivedF; }
.term label.term_advanced { grid-area: advancedL; }
.term checkbox.term_advanced { grid-area: advancedF; }
.term label.term_mustering_out { grid-area: musterL; }
.term textarea.term_mustering_out { grid-area: musterF; }
.term label.term_details { grid-area: detailsL; }
.term textarea.term_details { grid-area: detailsF; }

.npc {
    grid-template-areas:
        "nameL     nameL    locationL locationL  typeL"
        "nameF     nameF    locationF locationF  typeF"
        "affinityL enmityL  powerL    influenceL ."
        "affinityF enmityF  powerF    influenceF ."
        "specialL  specialL .         .          ."
        "specialF  specialF specialF  specialF   specialF"
        "detailsL  detailsL .         .          ."
        "detailsF  detailsF detailsF  detailsF   detailsF";
}
.npc label.npc_name { grid-area: nameL; }
.npc input.npc_name { grid-area: nameF; }
.npc label.npc_location { grid-area: locationL; }
.npc input.npc_location { grid-area: locationF; }
.npc label.npc_type { grid-area: typeL; }
.npc select.npc_type { grid-area: typeF; }
.npc label.npc_affinity { grid-area: affinityL; }
.npc input.npc_affinity { grid-area: affinityF; }
.npc label.npc_enmity { grid-area: enmityL; }
.npc input.npc_enmity { grid-area: enmityF; }
.npc label.npc_power { grid-area: powerL; }
.npc input.npc_power { grid-area: powerF; }
.npc label.npc_influence { grid-area: influenceL; }
.npc input.npc_influence { grid-area: influenceF; }
.npc label.npc_special_characteristics { grid-area: specialL; }
.npc textarea.npc_special_characteristics { grid-area: specialF; }
.npc label.npc_details { grid-area: detailsL; }
.npc textarea.npc_details { grid-area: detailsF; }

.skills_top {
    grid-template-areas:
        "joatL untrainedL"
        "joatF untrainedF";
}
.skills_top label.joat { grid-area: joatL; }
.skills_top input.joat { grid-area: joatF; }
.skills_top label.untrained_dm { grid-area: untrainedL; }
.skills_top span.untrained_dm { grid-area: untrainedF; }

.skill {
    grid-template-areas:
        "nameL specialismL levelL"
        "nameF specialismF levelF";
}
.skill label.skill_name { grid-area: nameL; }
.skill input.skill_name { grid-area: nameF; }
.skill label.skill_specialism { grid-area: specialismL; }
.skill input.skill_specialism { grid-area: specialismF; }
.skill label.skill_level { grid-area: levelL; }
.skill span.skill_level { grid-area: levelF; }

.incompatibility {
    font-weight: bold;
    color: #ff0000;
}

.rules {
    font-style: italic;
}

.ref {
    font-weight: bold;
}

.sheet-rolltemplate-rolls .sheet-container {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-family: "Oswald", sans-serif;
    line-height: revert;
}
.sheet-rolltemplate-rolls .sheet-header {
    padding: 4px;
    border-bottom: 1px solid #ccc;
}
.sheet-rolltemplate-rolls .sheet-title {
    font-size: 18px;
}
.sheet-rolltemplate-rolls .sheet-subtitle {
    font-size: 16px;
}
.sheet-rolltemplate-rolls .sheet-content {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 16px;
}
.sheet-rolltemplate-rolls .sheet-content > div {
    padding: 8px;
}
.sheet-rolltemplate-rolls .sheet-content .sheet-key {
    padding-right: 10px;
    text-align: right;
}
.sheet-rolltemplate-rolls .sheet-desc, .sheet-rolltemplate-rolls .sheet-crit, .sheet-rolltemplate-rolls .sheet-fail {
    grid-column: span 2;
    padding: 4px;
    text-align: center;
}
.sheet-rolltemplate-rolls .sheet-crit {
    color: green;
}
.sheet-rolltemplate-rolls .sheet-fail {
    color: red;
}
